/* PALETTES COLORS */

:root {
    --color-white: #F8F8F8;
    --color-straw: #DBD56E;
    --color-asparagus: #88AB75;
    --color-blue-munsell: #2D93AD;
    --color-sky-blue: #88B8BF;
    --color-raisin-black: #191923;
}